<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ username }}</title>
		<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='styles.css') }}">
		<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400&display=swap" rel="stylesheet">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	</head>
	<body>
		<div class = "header">Information for {{ username }}</div>
		<div class = "info_header">
                        <form method="post" class="info_button">
                                <input class="btn btn-default" type="submit" name="Submit Type" value="(back)">
                        </form>
                </div>
		<div class="graphcontainer">
			<div class="graph">
				<center>
				<canvas id="linegraphcode"></canvas>
				<script>
				var canvas = document.getElementById("linegraphcode");
				var ctx = canvas.getContext('2d');

				Chart.defaults.global.defaultFontSize = 16;
				Chart.defaults.global.defaultFontFamily = "'Roboto', sans-serif";
				
				var data = {
					labels : ["5", "4", "3", "2", "1"],
					datasets : [
						{
						label: "Likes",
						backgroundColor: 'rgba(226,280,307,.6)',
						borderColor: 'rgba(75,93,102,1)',
						pointBackgroundColor: 'rgba(75,93,102,1)',
						data: [{% for item in recent_dict %} {{ item['likes'] }},{% endfor %}]
						},
						{
						label: "Dislikes",
						backgroundColor: "rgba(300,240,257,.6)",
						borderColor: "rgba(100,93,102,1)",
						pointBackgroundColor: "rgba(100,93,102,1)",
						data: [{% for item in recent_dict %} {{ item['dislikes'] }},{% endfor %}]
						}
					],
				}

				var options = {
					responsive: true,
					maintainAspectRatio: true,
					legend: {
						display: true,
						labels: {
								fontColor: 'rgb(255, 99, 132)'
						}
					},
					scales: {
						xAxes: [{
							display: true,
						}]
					},
					title: {
           					display: true,
            					text: 'Likes/Dislikes Per Nth Recent Post'
        				}
				}

				var lineChart = new Chart(ctx, {
					type: 'line',
					data: data,
					options: options
				});
				</script>
				</center>
			</div>
			<div class="graph">
				<center>
				<canvas id="piegraphcode"></canvas>
				<script>
				var canvas = document.getElementById("piegraphcode");
				var ctx = canvas.getContext('2d');

				// Global Options:
				Chart.defaults.global.defaultFontColor = 'black';
				Chart.defaults.global.defaultFontSize = 16;

				var data = {
					labels: {{ location_labels | tojson }},
					datasets: [
						{
						fill: true,
						backgroundColor: [
							'rgb(151,187,205)',
							'rgb(75,93,102)',
							'rgb(226,280,307)'],
						data: [{% for item in location_dict %} {{ item['count'] }},{% endfor %}],
						borderColor:	['black', 'black', 'black', 'black'],
						borderWidth: [2,2,2]
						}
					]
				};

				var options = {
					responsive: true,
                                        maintainAspectRatio: false,						
					title: {
           					display: true,
         					   text: '# of Posts By Location'
       					 }				
				};

				var myBarChart = new Chart(ctx, {
					type: 'pie',
					data: data,
					options: options
				});
				</script>
				</center>
			</div>
			<div class="graph">
				<center>
				<canvas id="bargraphcode"></canvas>
				<script>
				var ctx = document.getElementById("bargraphcode");
				var myChart = new Chart(ctx, {
				type: 'bar',
				data: {
					labels: {{ tod_labels | tojson }},
					datasets: [{
						data: [{% for item in tod_counts %} {{ tod_counts[item] }},{% endfor %}],
						backgroundColor: [
							'rgba(255, 99, 132, 0.2)',
							'rgba(54, 162, 235, 0.2)',
							'rgba(255, 206, 86, 0.2)',
							'rgba(75, 192, 192, 0.2)',
							'rgba(153, 102, 255, 0.2)',
						],
						borderColor: [
							'rgba(255,99,132,1)',
							'rgba(54, 162, 235, 1)',
							'rgba(255, 206, 86, 1)',
							'rgba(75, 192, 192, 1)',
							'rgba(153, 102, 255, 1)',
						],
						borderWidth: 1
					}]
				},

				options: {
					legend: {
                                                display: false,
                                        },
					title: {
                                                        display: true,
                                                        text: 'Activity By Time of Day'
                                                },
					responsive: true,
                                        maintainAspectRatio: true,
					scales: {
						xAxes: [{
						ticks: {
							maxRotation: 90,
							minRotation: 80
						},
						}],
						yAxes: [{
						ticks: {
							beginAtZero: true
						}
						}]
					}
				}
				});
				</script>
				</center>
			</div>
			<div class="graph">
				<center>
				<canvas id="bargraphcode2"></canvas>
				<script>
				var ctx = document.getElementById("bargraphcode2");
var myChart = new Chart(ctx, {
type: 'bar',
data: {
    labels: {{ tag_labels | tojson }},
    datasets: [{
        data: [{% for item in tag_counts %} {{ item['count'] }},{% endfor %}],
        backgroundColor: [
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)',
            'rgba(255, 99, 132, 0.2)',
            'rgba(54, 162, 235, 0.2)',
            'rgba(255, 206, 86, 0.2)',
            'rgba(75, 192, 192, 0.2)',
            'rgba(153, 102, 255, 0.2)',
            'rgba(255, 159, 64, 0.2)'
        ],
        borderColor: [
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)',
            'rgba(255,99,132,1)',
            'rgba(54, 162, 235, 1)',
            'rgba(255, 206, 86, 1)',
            'rgba(75, 192, 192, 1)',
            'rgba(153, 102, 255, 1)',
            'rgba(255, 159, 64, 1)'
        ],
        borderWidth: 1
    }]
  },

options: {
	title: {
            display: true,
            text: '# of Posts By Tag'
        },
	legend: {
        	display: false,
                         },
	responsive: true,
        maintainAspectRatio: true,
    scales: {
        xAxes: [{
        ticks: {
            maxRotation: 90,
            minRotation: 80
        },
        }],
        yAxes: [{
        ticks: {
            beginAtZero: true
        },
        }]
    }
}
});
				</script>
				</center>
			</div>
		</div>

	</body>
</html>
